<form (ngSubmit)="submit()" class="form-create-todo">
  <input type="text" class="title" placeholder="Title" [(ngModel)]="todo.title" name="title" />

  <textarea
    name="description"
    class="description"
    placeholder="Description example: ' i go to learning português '"
    [(ngModel)]="todo.description"
  ></textarea>

  <div class="prioridade">
    <input type="radio" [value]="1" name="prioridade" [(ngModel)]="todo.prioridade" />
    <input type="radio" [value]="2" name="prioridade" [(ngModel)]="todo.prioridade" />
    <input type="radio" [value]="3" name="prioridade" [(ngModel)]="todo.prioridade" />
    <input type="radio" [value]="4" name="prioridade" [(ngModel)]="todo.prioridade" />
    <input type="radio" [value]="5" name="prioridade" [(ngModel)]="todo.prioridade" />
  </div>
  <div class="prazo">
    <label for="start"
      >Start
      <input type="date" name="start" [(ngModel)]="todo.start" />
    </label>
    <label for="end"
      >End
      <input type="date" name="end" [(ngModel)]="todo.end" />
    </label>
  </div>
  <div class="completed">
    <span class="text-completed">Completed</span>
    <input type="checkbox" [(ngModel)]="todo.completed" name="completed" />
  </div>

  <button class="bnt-create-todo" type="submit">Criar</button>
</form>
