@use "variables" as v;

@mixin flex($align-items: center, $justify-content: space-around) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin div($w: 200px, $h: 200px, $border: v.$radius-sm) {
    @include border-radius($border);
    width: $w;
    height: $h;
}

@mixin text($color: black) {
    font-family: v.$font-body;
    line-height: 1.2em;
    color: $color;
}

@mixin btn($bg: v.$btn-primary, $color: white) {
    @include border-radius(v.$radius-sm);
    padding: 10px v.$spacing-md;
    border: none;
    cursor: pointer;

    background-color: $bg;
    color: $color;
}
@mixin border-radius($px: v.$radius-sm) {
    border-radius: $px;
}
