// COLORS
$color-detail-primary: purple;
$color-detail-second: violet;

// SPACING
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// BORDER RADIUS
$radius-sm: 8px;
$radius-md: 16px;

// FONTS
$font-heading: Arial, Helvetica, sans-serif;
$font-body: Georgia, "Times New Roman", Times, serif;


// BUTTON COLORS
$btn-primary: $color-detail-primary;
$btn-success: green;
$btn-danger: red;
$btn-warning: yellow;